---
---

@charset "utf-8";

// Width of the content area
$content-width:    62.5rem;

$on-palm:          37.5rem;
$on-laptop:        62.5rem;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base",
        "layout",
        "header",
        "navigation",
        "contact",
        "sidebar",
        "section",
        "post-content",
        "jot-form",
        "skill",
        "formStyle",
        "projects",
        "Montserrat"
       ;
