<header class="site-header">
    <div class="wrapper">
        <a class="site-header__site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        {% if page.language == 'ru' %}
        <a class="site-header__blog-link" href="http://blog.zverit.com">БЛОГ</a>
        {% else if page.language == 'en' %}
        <a class="site-header__blog-link" href="http://blog.zverit.com">Read BLOG</a>
        {% endif %}

        {% if page.language == 'ru' %}
        <a class="site-header__blog-link" href="http://blog.zverit.com/gallery">ГАЛЕРЕЯ</a>
        {% else if page.language == 'en' %}
        <a class="site-header__blog-link" href="http://blog.zverit.com/gallery">GALLERY</a>
        {% endif %}


        {% if page.language == 'ru' %}
        <!-- <a class="site-header__lang-link" href="{{ site.baseurl }}/en">ENG</a> -->
        {% else if page.language == 'en' %}
        <a class="site-header__lang-link" href="{{ site.baseurl }}/">RUS</a>
        {% endif %}
    </div>
</header>
