.contact {
	color: $grey-color-dark;
	padding-bottom: .3125rem;
	padding-top: .3125rem;

	&__link {
		display: block;
		float: right;
		color: $grey-color-dark;
		padding-left: 1.25rem;
	}

	&__type {
		display: inline-block;
		font-size: 1rem;
		text-transform: uppercase;
	}
}
