.main-content {
	max-width: 730px;
	float: right;
	margin-top: 20px;
	position: relative;
	padding-top: 10px;
	display: block;
	width: auto;
}

@media (max-width:920px) {
	.main-content {
		float: none;
		width: auto;
	}
}

.clear {
	clear: both;
}

a {
	text-decoration: underline;
	color: $grey-color-dark;
}

//TODO fix
ul li {
	font-size: 15px!important;
	padding: 0!important;
}

input, textarea, button {
	padding: 10px!important;
}

ol li {
	list-style: decimal inside;
	padding: 5px 0;
}

.no-padding {
	-webkit-padding-start: 20px;
}

@media (max-width:920px) {
	.wrap {
		width:auto;
	}
}
