.navigation {
	margin-top: 25px;
	margin-left: -5px;
	position: relative;
	z-index: 999;

	li {
		border: none;
		background: none;
		margin: 0;
		list-style: none;
		padding: 0;
	}
}

.navigation li a:link, .navigation li a:visited {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 1px;
	width: auto;
	font-size: 1rem;
	color: $grey-color-dark;
	text-align: left;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	padding: 5px 10px 5px 10px;
}

.navigation li a:hover, .navigation li a.active {
	background: $brand-color;
	color: $white;
}
