.navigation {
    font-family: 'montserrat';
	margin-left: -5px;
	position: relative;
	z-index: 999;

	li {
		border: none;
		background: none;
		margin: 0;
		list-style: none;
		padding: 0;
	}
}

.navigation li a:link, .navigation li a:visited {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: .0625rem;
	width: auto;
	color: $grey-color-dark;
	text-align: left;
	transition: all 200ms;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	padding: .3125rem .625rem .3125rem .625rem;
}

.navigation li a:hover, .navigation li a.active {
	background: $brand-color;
	color: $white;
}
