.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: $h2-font-size;

        @include media-query($on-laptop) {
            font-size: 1.75rem;
        }
    }

    h3 {
        font-size: $h3-font-size;

        @include media-query($on-laptop) {
            font-size: 1.375rem;
        }
    }

    h4 {
        font-size: $h4-font-size;

        @include media-query($on-laptop) {
            font-size: 1.125rem;
        }
    }

    .page-heading {
        font-size: 1.5rem;
    }

    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            margin-bottom: $spacing-unit;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-link {
        display: block;
        font-size: $font-size-lg;
    }
}
