.skill {
	&__heading{
		border-bottom: 1px solid $gray-500;
		line-height: 2;
		padding: 15px 0 0 0;
	}

	&__tag{
		display: inline-block;
		border: 1px solid rgba($brand-color, .8);
		font-family: "Montserrat";
		font-size: 85%;
		padding: 0 .3125rem;
		margin-right: .3125rem;
		margin-top: .625rem;
		border-radius: 3px;
	}
}
